@model RentCar.WebClient.Models.Auth.RegisterViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/auth.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<div class="auth-box">
    <h2>Register ke RentCar</h2>
    <form asp-action="Register" method="post">
        @if (ViewBag.Error != null)
        {
            <div class="error-message">
                @ViewBag.Error
            </div>
        }
        <label>Nama Lengkap</label>
        <input asp-for="Name" placeholder="Masukkan nama lengkap Anda" />
        <span asp-validation-for="Name"></span>

        <label>Email</label>
        <input asp-for="Email" placeholder="Masukkan email Anda" />
        <span asp-validation-for="Email"></span>

        <label>Password</label>
        <input asp-for="Password" type="password" placeholder="Masukkan password Anda" />
        <span asp-validation-for="Password"></span>

        <label>Konfirmasi Password</label>
        <input asp-for="Confirm_password" type="password" placeholder="Konfirmasi password Anda" />
        <span asp-validation-for="Confirm_password"></span>

        <label>Alamat</label>
        <input asp-for="Address" placeholder="Masukkan alamat Anda" />
        <span asp-validation-for="Address"></span>

        <label>Nomor Telepon</label>
        <input asp-for="Phone_number" placeholder="Masukkan nomor telepon Anda" />
        <span asp-validation-for="Phone_number"></span>

        <label>Nomor SIM</label>
        <input asp-for="Driver_license_number" placeholder="Masukkan nomor SIM Anda" />
        <span asp-validation-for="Driver_license_number"></span>

        <button type="submit">Register</button>
    </form>

    Sudah punya akun? Login
    <a href="@Url.Action("Login", "Account")">disini.</a>
</div>
